@{
    ViewBag.Title = "Home Page";
}

<head>
    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="~/Scripts/slippry.min.js"></script>

        <meta name="viewport" content="width=device-width">
        <link href="~/Content/slippry.css" rel="stylesheet" />*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="~/Scripts/slippry.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="~/Content/slippry.css" />





</head>

@try
{
    string backgroundSound = (string) ViewData["BackgroundSound"];
    <embed src="/Content/@backgroundSound" loop="true" autostart="true" width="2"
           height="0">
}
catch
{
}



@*<audio src="/Content/Fresca Pizza.mp3" autoplay >
        <p>If you are reading this, it is because your browser does not support the audio element.</p>
    </audio>*@



@*<center><h1 style="color:white; font-size: medium">mexicancuisine.today</h1></center>*@

<div style="text-align: right; color:white;font-size: medium" ;>
    twoboots.today
</div>

<div style="width: 100%">
    <ul id="demo1">

        @try
        {
            //string title = ViewData["firstOne"].ToString();
            string title = "hello";
            int iRow = 0;

            List<Stories.Factory.AnimalTypeList> myList = new List<Stories.Factory.AnimalTypeList>();
            Stories.Factory.AnimalTypeList list = new Stories.Factory.AnimalTypeList();
            list = ViewData["MyFavortiesData"] as Stories.Factory.AnimalTypeList;


            for (int i = 0; i < list.animalTypeLists.Count; i++)
            {

                int page = i + 1;

                if (title.ToUpper() != list.animalTypeLists[i].Title.Substring(0, 1).ToUpper())
                {


                    title = list.animalTypeLists[i].Title.Substring(0, 1);
                    iRow = 0;


                }

                if (list.animalTypeLists[i].Title.Length >= 40)
                {
                    list.animalTypeLists[i].Title = list.animalTypeLists[i].Title.Substring(0, 40);

                }

                string link1 = "";

                if (list.animalTypeLists[i].url != null)
                {

                    link1 = list.animalTypeLists[i].url;
                }
                else
                {
                    link1 = "http://twoboots.com";
                }




                <li>

                    <br />
                    <h2 style="color:white;">Page @page: @list.animalTypeLists[i].Title &nbsp;&nbsp;&nbsp;&nbsp; <label style="color:blue;">East Village Phone 212-254-1919 </label> </h2>






                    <a href="@link1">

                        @try
                                    {



                                string image = list.animalTypeLists[i].Picture;
                                if (image.Length > 0)
                                {
                                    //string imagePath = "/images/";
                                    string imagePath = "https://twoboots.today/images/";

                                <img src="@imagePath@image" style="max-width: 100%; max-height: 100%" />
                                }
                                else
                                {
                                <img src="../Images/bowl.jpg" style="max-width: 100%; max-height: 100%" />
                                }
                            }
                        catch
                    {
                    }
                    </a>



                </li>

                iRow++;
                }

            }
        catch (Exception ex)
        {
            Console.Write(ex.ToString());
        }

        </ ul >
        </ div >



        <script>
            $(function () {


                var demo1 = $("#demo1").slippry({
                    //transition: 'fade',
                    transition: 'horizontal',
                    useCSS: true,
                    //speed: 1000,
                    speed: 5000,
                    pause: 6000,
                    pager: false,
                    auto: true,
                    preload: 'visible',

                    // transitions
                    //transition: 'kenburns', // fade, horizontal, kenburns, false
                    kenZoom: 140,
                    speed: 2000 // time the transition takes (ms)



                });

                $('.init').click(function () {
                    demo1 = $("#demo1").slippry();
                    return false;
                });




            });
        </script>






