
    <img src="/content/main.jpg"  width="500" height="500" />


    @*<p class="lead">Welcome to the Jakatas Tales editing functions. You may add new stories or edit existing storyies. We also will have a book generator where you can create custum books. </p>*@


<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            This is where all the web api's get fired off.
        </p>

    </div>



</div>
