@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>rrrings.com</h1>
    <p class="lead">Guy's words</p>
   

    <table>
        <tr>
            <td>
                <h3>Magic Rings</h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/" target="_blank">
                            <img alt="Qries" src="/Images/rings.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>
            <td>
                <h3>Whats Cooking </h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Cooking/" target="_blank">
                            <img alt="Qries" src="/Images/whatscooking.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>
            </td>
            <td>


                <h3>Greek</h3>
                <div>
                    <p>


                        <a href="https://greekcuisine.today/" target="_blank">
                            <img alt="Qries" src="/Images/greek.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>

        </tr>
        <tr>
            <td>
                <h3>Indian </h3>
                <div>
                    <p>


                        <a href="https://indiancuisine.today/" target="_blank">
                            <img alt="Qries" src="/Images/indian.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>
            </td>

            <td>
                <h3>Mexican</h3>
                <div>
                    <p>


                        <a href="https://mexicancuisine.today/" target="_blank">
                            <img alt="Qries" src="/Images/mexican.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>

            <td>
                <h3>Time To Cook</h3>
                <div>
                    <p>


                        <a href="http://timetocook.today//" target="_blank">
                            <img alt="Qries" src="https://whatscookingtreasures.com/images/upload/402.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>


        </tr>

        <tr>
            <td>
                <h3>Indonesian </h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Slideshow?emailUser=richardpfletcher@gmail.com&ring=2" target="_blank">
                            <img alt="Qries" src="/Images/indo.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>
            </td>

            <td>
                <h3>Spanish</h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Slideshow?emailUser=richardpfletcher@gmail.com&ring=5" target="_blank">
                            <img alt="Qries" src="/Images/spanish.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>

            <td>
                <h3>Iranian</h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Slideshow?emailUser=richardpfletcher@gmail.com&ring=6" target="_blank">
                            <img alt="Qries" src="/Images/Iraian.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>


        </tr>

        <tr>
            <td>
                <h3>Ethopian </h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Slideshow?emailUser=richardpfletcher@gmail.com&ring=7" target="_blank">
                            <img alt="Qries" src="/Images/ethopian.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>
            </td>

            <td>
                <h3>Vietnamese</h3>
                <div>
                    <p>


                        <a href="https://magicrings.org/Home/Slideshow?emailUser=richardpfletcher@gmail.com&ring=8" target="_blank">
                            <img alt="Qries" src="/Images/Vietnam.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>

            <td>
                <h3>Evolution</h3>
                <div>
                    <p>


                        <a href="https://evolutionrevolutionoflove.com/search/Slideshow" target="_blank">
                            <img alt="Qries" src="/Images/evolution.jpg"
                                 width="250" height="200">
                        </a>

                    </p>
                </div>

            </td>


        </tr>

    </table>


</div>

