@{
    ViewBag.Title = "About";
}

<table>
    <tr>
        <td>
            <h3>Guy's Art Facebook</h3>
            <div>
                <p>


                    <a href="https://www.facebook.com/guynouriart/posts/101102408647347/" target="_blank">
                        <img alt="Qries" src="/Images/GuysArt.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>

        </td>
        <td>
            <h3>Jataka Tales</h3>
            <div>
                <p>


                    <a href="http://jataka.fun/" target="_blank">
                        <img alt="Qries" src="/Images/jatakaweb.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>
        </td>
        <td>


            <h3>Whats Cooking Treasures</h3>
            <div>
                <p>


                    <a href="https://whatscookingtreasures.com//" target="_blank">
                        <img alt="Qries" src="/Images/worldmap3.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>

        </td>

    </tr>
    <tr>
        <td>
            <h3>Evolution Revolution </h3>
            <div>
                <p>


                    <a href="https://www.evolutionrevolutionoflove.com/" target="_blank">
                        <img alt="Qries" src="/Images/evolution.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>
        </td>

        <td>
            <h3>John Franklin Fletcher</h3>
            <div>
                <p>


                    <a href="https://johnfranklinfletcher.com/home" target="_blank">
                        <img alt="Qries" src="/Images/john.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>

        </td>

        <td>

            <h3>Heart Of Love</h3>
            <div>
                <p>


                    <a href="http://heartoflove.today/" target="_blank">
                        <img alt="Qries" src="/Images/HeartOfLove.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>


        </td>


    </tr>

</table>


<h3>YouTube</h3>
<table>
    <tr>
        <td>
            <h3>Fletcher Soul Traveler</h3>
            <div>
                <p>


                    <a href="https://www.youtube.com/channel/UCTycocR4wUXS35LCfJBU3uw" target="_blank">
                        <img alt="Qries" src="/Images/YouTubeFletcher.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>

        </td>
        <td>
            <h3>Jataka Tales</h3>
            <div>
                <p>


                    <a href="https://www.youtube.com/channel/UCWFwTb1VDqoewFjwbW8a_Ew" target="_blank">
                        <img alt="Qries" src="/Images/jatakaweb.jpg"
                             width="250" height="200">
                    </a>

                </p>
            </div>
        </td>
</table>


